.container {
  width: 100%;

  .container_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 100px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    .about_title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 40px;
    }

    p {
      line-height: 160%;
    }
  }
}
